@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Slab:ital,wght@1,600&family=Oswald:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* 900px , 1vh evaluaría a 9px
750px , 1vw evaluaría a 7.5px
*/

/* Inicio Variables */
:root{
    /* Inicio Colores */
    --coloAzul: rgb(127, 238, 223);
    --colorAzulOscuro: rgb(74, 148, 138);
    --colorBlanco: white;
    --colorRosa:rgb(226, 189, 215);
    /* Fin Colores */

    /* Espaciado */
    --space: 10px;
    /* Fin Espaciado */

    /* Tipografía */
    --normal: 15px;
    /* Fin Tipografía */

    /* box-shadow */
    --box:  -1px -2px 10px 3px;
    --boxC:  0px 0px 7px 2px;
    /* Inicio box-shadow */

    /* Espacio imagen objetos */
    --spaceIma: 70px;
    --spaceImaP: 200px;

    /* Fin Espacio imagen objetos */
}
/* Fin Variables */

html, body{
    padding: 0px; /*Una buena practica quitar margen y espacio hacia dentro en html y body*/
    margin: 0px;
    font-size: var(--normal); /*Recomendado*/
    font-family: 'Open Sans', sans-serif;
    }

/*-------------------Aquí comienza nav-----------------------*/
nav{
    display: flex; /*flex permite mover elementos de vertical a horizontal*/
    background-color: var(--coloAzul);
    padding: 5px; /*Espacio hacia dentro universales es: 10,15, 20px*/
    color: var(--colorBlanco); /*Color de texto*/
    justify-content: space-between;
    align-items: center;
}

nav  .logotipo{
    padding: 0px 0px 0px 10px;
    margin: 0px;
}

nav  .logotipo img{
    border-radius: 50%;
    height: var(--spaceIma);
    width: var(--spaceIma);
}

nav ul{
    display: flex;
    padding: 0px 10px 0px 0px;
}

nav li{
    padding-left: var(--space);
    list-style: none;
}

nav li a{
    color: var(--colorBlanco);
    text-decoration: none;
}

nav li a:hover{
    color: var(--colorAzulOscuro);
}
/*-------------------------Aquí termina nav------------------*/

/*--------------------- Aquí inicia main--------------------- */

.main_section{
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-image: url(../images/Desing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.main_section h2, section .cmts{

    margin: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 5ch;
}

.main_section h1, .main_section p{
    margin: 0%;
    margin-top: -25px;
    padding: 0%;
    font-weight: 100px;
    font-size: 90px;
    display: inline-block;
}

.products{
    max-height: 5vh;
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
    padding: 30vh 5vw 25vh 5vw;
}

.content{
    background-color: var(--colorBlanco);
    box-shadow: var(--box);
    text-align: center;
    max-width: 100%;
    padding: 10px;
    margin: 5vh 7vw 0vh 0vw;
}

.product{
    margin-top: -200px;
    overflow: hidden;
}

.product ul{
    list-style: none;
    display: flex;
    padding: 0%;
}
.product li{
    list-style: none;
    display: flex;
    padding: 0%;
}

.imag_conte{
    text-align: center;

}

.imag_conte img{
    height: var(--spaceImaP);
    width: var(--spaceImaP);
}

.content p{
    margin: 20px   20px   20px   0px
}

.main_button{
    background-color: var(--colorRosa);
    width: 100%;
    border: 0px;
    font-size: var(--normal);
    color: var(--colorBlanco);
    cursor: pointer;
    border-radius: 4px;
    border: 0;
}

.main_button:hover{
    background-color: var(--colorAzulOscuro);
}
/* Aquí termina main */

/* -------------------------------Inicio section -----------------------------------------*/

/* -------------------Inicio Comentarios -----------------*/
section{
    background-color: rgb(226, 189, 215);
    padding: 0%;
}

.imgUser img{
    width: 18vw;
    height: 30vh;
    border-radius: 20px 20px 0px 0px;
}

.imgUser{
    text-align: center;
    width: 18vw;
    height: 100%;
    padding: 0px;
    margin: 0px 45px 20px 45px;
    border-radius: 20px 20px 10px 10px;
}

.section2{
    display: flex;
}

section .text{
    max-width: 100%;
    margin: 0% 10% 0% 5%;
}

section .cmts{
    text-align: center;
    padding: 35px;
    margin: 0%;
}

.text{
    text-align: left;
}

/* -------------------Fin Comentarios -----------------*/
/* -------------------------------Fin section -----------------------------------------*/

/*---------------------------------- Inicio Footer-------------------------------------*/

.footer{
    background-color: var(--colorAzulOscuro);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px 2px 4px;
}
.footer p, .footer a{
    margin: 10px;
    color: var(--colorBlanco);
    text-decoration: none;
}

.footer a:hover{
    color: var(--colorRosa);
}


.texto_pie{
    margin: 0%;
    display: flex;
    width: 50%;
}

.grafico_pie{
    height: 100%;
    width: 100%;
}

.logo_fb{
    height: 30px;
    width: 30px;
    margin: 0%;

}
/* -----------------------------------Inicio Footer----------------------------------- */