
@media (max-width: 600px)
{
    /* Inicio main */
    .products{
        display: inherit;
        height: auto;
        padding: 55px 55px 665px 55px;
    }
    .product{
        margin-top: auto;
    }

    .main_section{
        padding: 4%;
    }

    .section1{
        display: inherit;
        height: auto;
    }
      /* Fin main */


        /* Inicio Comentarios */
    section .section2 {
        display: inherit;
        padding: 5px 0px 0px 35px;
    }
    
        /* Fin Comentarios */
}