/* inicio rango 400-600 */
@media (max-width: 600px)
{
    nav a{
        font-size: 15px;
    }

    /* Inicio main */
    .products{
        display: inherit;
        height: auto;
        padding: 55px 55px 665px 55px;
    }
    .product{
        margin-top: auto;
    }

    .main_section{
        padding: 4%;
    }

    .section1{
        display: inherit;
        height: auto;
    }
      /* Fin main */


        /* Inicio Comentarios */
    section .section2 {
        display: inherit;
    }

    section .imgUser{
        margin: 15px 45px 10px 50px;
    }
        /* Fin Comentarios */
}
/* Fin rango 400-600 */

/* inicio rango 250-399 */
@media (max-width: 400px)
{
    html, body {
        font-size: 9px;
    }

    nav a{
        font-size: 10px;
    }

    /* Inicio main */
    .products{
        display: inherit;
        height: auto;
        padding: 55px 55px 665px 55px;
    }
    .product{
        margin-top: auto;
    }

    .main_section{
        padding: 4%;
    }

    .imag_conte img {
        width: 80px;
    }
    .section1{
        display: inherit;
        height: auto;
    }
      /* Fin main */


        /* Inicio Comentarios */
    section .section2 {
        display: inherit;
    }


    section .imgUser img{
        max-width: 80px;
    }


    section .imgUser{
        margin: 15px 0px 10px 0px;
    }
        /* Fin Comentarios */
}
/* Fin rango 250-399 */