@import url('https://fonts.googleapis.com/css2? family-Open+Sans:wght@300&display-swap');
/* Inicio Variables */
:root{
    /* Inicio Colores */
    --coloAzul: rgb(127, 238, 223);
    --colorAzulOscuro: rgb(74, 148, 138);
    --colorBlanco: white;
    /* Fin Colores */

    /* Espaciado */
    --space: 10px;
    /* Fin Espaciado */

    /* Tipografía */
    --normal: 12px;
    /* Fin Tipografía */

    /* box-shadow */
    --box:  -1px -2px 10px 3px;
    --boxC:  0px 0px 7px 2px;
    /* Inicio box-shadow */

    /* Espacio imagen objetos */
    --spaceIma: 70px;
    --spaceImaP: 200px;

    /* Fin Espacio imagen objetos */
}
/* Fin Variables */

html, body{
    padding: 0px; /*Una buena practica quitar margen y espacio hacia dentro en html y body*/
    margin: 0px;
    font-size: 12px; /*Recomendado*/
    font-family: 'Open Sans', sans-serif;
}

/*Aquí comienza nav*/
nav{
    display: flex; /*flex permite mover elementos de vertical a horizontal*/
    background-color: var(--coloAzul);
    padding: 5px; /*Espacio hacia dentro universales es: 10,15, 20px*/
    color: var(--colorBlanco); /*Color de texto*/
    justify-content: space-between;
    align-items: center;
}

nav  .logotipo{
    padding: 0%;
    margin: 0px;
}

nav  .logotipo img{
    border-radius: 50%;
    height: var(--spaceIma);
    width: var(--spaceIma);
    padding: 10;
    margin: 10;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: var(--space);
    list-style: none;
}

nav li a{
    color: var(--colorBlanco);
    text-decoration: none;
}

nav li a:hover{
    color: var(--colorAzulOscuro);
}
/*Aquí termina nav*/

/* Aquí inicia main */
.desing{
    text-align: center;
}

.main_section{
    padding: 20px;
    text-align: center;
}
.products{
    max-height: 40px;
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
    padding: 220px 0px 105px 435px;
    display: flex;

}

.product{
    padding: var(--space);
    margin-top: -200px;
}

.imag_conte{
    text-align: center;

}

.imag_conte img{
    height: var(--spaceImaP);
    width: var(--spaceImaP);
}

.product .content{
    background-color: var(--colorBlanco);
    padding: 15px;
    box-shadow: var(--box);
    text-align: center;
    max-width: 100%;
    max-height: auto;
}

.content p{
    margin: 20px   20px   20px   0px
}

.main_button{
    background-color: var(--coloAzul);
    width: 100%;
    border: 0px;
    font-size: var(--normal);
    color: var(--colorBlanco);
    cursor: pointer;
    border-radius: 4px;
    border: 0;
}

.main_button:hover{
    background-color: var(--colorAzulOscuro);
}
/* Aquí termina main */

/* Inicio section */

/* Inicio Comentarios */
section  .section2 .commit .imgUser img{
    width: 262px;
    height: 150px;
    
}

.imgUser{
    margin: 0px 35px 25px 35px;
    box-shadow: var(--boxC);
    text-align: center;
    height: 350px;
    padding: 0px 2px 0px 0px;
}

section  .section2{
    display: flex;
    padding: 0px 30px 0px 10px;
}

section .text{
    height: auto;
    width: inherit;
    max-width: 80%;
    margin: 0px 0px 0px 25px;
}

section .cmts{
    text-align: center;
    padding: 50px;
}

.text{
    text-align: left;
}

/* Fin Comentarios */

/* Fin section */

/* Inicio Footer */
.footer{
    background-color: var(--colorAzulOscuro);
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    margin: 10px;
    padding: 10px;
    color: var(--colorBlanco);
    
}
/* Inicio Footer */